*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #22262a;
  font: 400 15px/22px "Poppins", "Arial", Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}

img {
  max-width: 100%;
}

ul li {
  list-style-type: none;
}

button {
  display: block;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.container {
  max-width: 1140px;
  padding: 0 5px;
  margin: 0 auto;
}

.btn-primary {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #22262a;
}

.btn-primary:hover {
  background-color: #df51c9;
}

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__title {
  font-size: 28px;
  line-height: 42px;
}

.header-nav__item {
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-user__item {
  display: inline-block;
  margin-right: 30px;
}

.header-user__item:last-child {
  margin-right: 0;
}

.header a:hover,
.header button:hover {
  color: #df51c9;
}

/*Banner*/
.banner-wrap {
  padding: 425px 0 100px;
  background: url("../img/1\ 1.png") no-repeat;
  background-size: cover;
}

.banner {
  width: 460px;
  margin-left: auto;
}

.banner__text {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.banner__trend {
  font-size: 80px;
  line-height: 120px;
}

.banner-link-wrap {
  margin-top: 25px;
}

.banner__link {
  width: 150px;
  margin-right: 35px;
  padding: 10px 25px;
}

.banner__link:last-child {
  margin-right: 0;
}

/*Category*/

.section {
  padding: 115px 0 0;
}

.category {
  display: grid;
  grid-template-areas:
    "img1 img1 img4 img4"
    "img2 img3 img4 img4";
  gap: 25px;
}

.category__link {
  position: relative;
  cursor: pointer;
  min-height: 280px;
}

.category__link:hover::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/50%);
}

.category__link:nth-child(1) {
  grid-area: img1;
  background: url("../img/2.png") 50% 0% / cover no-repeat;
}
.category__link:nth-child(2) {
  grid-area: img2;
  background: url("../img/3.png") 50% 0% / cover no-repeat;
}

.category__link:nth-child(3) {
  grid-area: img3;
  background: url("../img/4.png") 50% 0% / cover no-repeat;
}

.category__link:nth-child(4) {
  grid-area: img4;
  background: url("../img/10.png") 50% 0% / cover no-repeat;
}

.category__name {
  position: absolute;
  bottom: 25px;
  left: 25px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 25px;
  opacity: 0;
}

.category__link:hover .category__name {
  opacity: 1;
}

/*New Products*/
.section__title {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.section__subtitle {
  margin-bottom: 65px;
  text-align: center;
}

.new-product-wrap {
  display: flex;
  justify-content: space-between;
}

.new-product {
  width: 24%;
}

.new-product__img {
  margin-bottom: 38px;
}

.new-product__brand {
  display: block;
  font-weight: 300;
}

.new-product__link {
  display: block;
  font-weight: 600;
  margin: 3px 0;
}

.new-product__link:hover {
  color: #df51c9;
}

.new-product__price_old {
  margin-right: 30px;
  text-decoration: line-through;
}

.new-product__price_new {
  color: #d4383b;
}

/*Style*/
.style {
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.style-left {
  width: 49%;
  height: 100%;
  background: url("../img/14.png") 50% 100%/550px no-repeat;
}

.style-right {
  position: relative;
  width: 49%;
  height: 100%;
  background: url("../img/15.png") 0% 0%/515px no-repeat;
}

.style-right::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 252px;
  height: 303px;
  background: #fff url("../img/16.png") 100% 100%/227px 281px no-repeat;
}

.style__link {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  right: 260px;
}

.style__link:hover {
  color: #df51c9;
}

.style__link::after {
  position: absolute;
  content: "";
  bottom: -5px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #22262a;
  transition: 0.4s;
}

.style__link:hover::after {
  background-color: #df51c9;
}
